.modalContainer {
	color: black;
}
.row {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.emailContainer {
	form {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 1em;
	}
	label {
		display: flex;
	}
	input {
		flex: 1 1 auto;
	}
}
hr {
	width: 100%;
}